<?xml version="1.0"?>
<launch>
  <param name="use_sim_time" value="true" />

  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="world_name" default="$(find re540_final_map)/worlds/final_map.world" />
  <arg name="in_topic"  default="/odom"/>
  <arg name="out_topic" default="/ground_truth/pose"/>

  <arg name="tag_file_name" default="2025/re540_simulation"/>
  <arg name="camera_name" default="camera"/>
  <arg name="image_topic" default="color/image_raw"/>
  <arg name="threshold_dist2tag" default="2.0"/>

  <arg name="world_frame_name" default="world"/>
  <arg name="camera_frame_name" default="camera_link"/>
  <arg name="image_frame_name" default="camera_color_optical_frame"/>

  <arg name="with_apriltag_ros" default="true"/>
  <arg name="with_visualization" default="true"/>
  <arg name="with_realsense_tf" default="false"/>
  <arg name="broadcast_world2cam_tf" default="true"/>

  <!-- Start Gazebo with a specific world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="0"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="world_name" value="$(arg world_name)"/> 
    <arg name="paused" value="false"/>
  </include>

  <!-- Spawn the MAIN ROBOT -->
<include file="$(find nexus_4wd_mecanum_description)/launch/nexus_4wd_mecanum_description_depth-camera.launch" />
<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
      args="-urdf -model nexus_4wd_mecanum -param robot_description -x 0.0 -y -2.0 -z 0.5" />

<!-- Generate local heightmap -->
  <node pkg="local_costmap_generator" type="heightmap_node" name="heightmap_node" output="screen">
    <param name="full_clouds" value="true" /> 
  </node>

  <!-- Local Costmap -->
  <node pkg="local_costmap_generator" type="heightmap_costmap_node" name="heightmap_costmap_node" output="screen">
  </node>

 <!-- Nodelet -->
  <node pkg="nodelet" type="nodelet" name="depth_to_rgb" args="standalone depth_image_proc/register">
    <remap from="depth/image_rect"       to="/camera/depth/image_raw"/>
    <remap from="depth/camera_info"      to="/camera/depth/camera_info"/>

    <remap from="rgb/image_rect"         to="/camera/color/image_raw"/>
    <remap from="rgb/camera_info"        to="/camera/color/camera_info"/>

    <remap from="registered/image_rect"  to="/camera/depth_registered/image_raw"/>
    <remap from="registered/camera_info" to="/camera/depth_registered/camera_info"/>
  </node>

  <!-- YOLO -->
  <node pkg="yolo11_detector"
        type="yolo11_3D_ros_node.py"
        name="yolo11_depth_node"
        output="screen">
      <param name="color_topic"       value="/camera/color/image_raw"/>
      <param name="depth_topic"       value="/camera/depth/image_raw"/>
      <param name="camera_info_topic" value="/camera/depth/camera_info"/>

      <param name="camera_frame" value="camera_color_optical_frame"/>

      <param name="conf_thres"  value="0.3"/>
      <param name="device"      value="cuda:0"/>
      <param name="imgsz"       value="640"/>

      <!-- If your depth is 16UC1 with mm units, 0.001 is correct -->
      <param name="depth_scale" value="0.001"/>

      <param name="show_window"   value="false"/>
      <param name="print_timing"  value="true"/>
      <param name="model_path" value="$(find yolo11_detector)/models/hw5_training_apriltag_v3.pt"/>
  </node>

  <!-- Odom to pose -->
  <node pkg="main_simulator"
        type="odom_to_pose.py"
        name="odom_to_pose"
        output="screen">
    <param name="input_topic"  value="/odom"/>
    <param name="output_topic" value="/ground_truth/pose"/>
  </node>

  <!-- Apriltag ROS Localization -->
  <group if="$(arg with_apriltag_ros)">
      <include file="$(find apriltag_ros)/launch/continuous_detection.launch">
          <arg name="camera_name" value="$(arg camera_name)"/>
          <arg name="image_topic" value="$(arg image_topic)"/>
      </include>
  </group>

  <node name="apriltag_localization_node" pkg="apriltag_localization" type="apriltag_localization_node" output="screen">
      <param name="tag_config_name" value="$(arg tag_file_name)"/>
      <param name="world_frame_name" value="$(arg world_frame_name)"/>
      <param name="camera_frame_name" value="$(arg camera_frame_name)"/>
      <param name="image_frame_name" value="$(arg image_frame_name)"/>
      <param name="broadcast_world2cam_tf" value="$(arg broadcast_world2cam_tf)"/>
      <param name="threshold_dist" value="$(arg threshold_dist2tag)"/>
  </node>

  <!-- Apriltag Fusion -->
  <node pkg="orb_slam3_apriltag_fusion"
      type="fusion_node.py"
      name="orb_slam3_apriltag_fusion"
      output="screen"/>

  <!-- RVIZ visualization -->
  <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find rviz_visualization)/config-1.rviz"/>

</launch>
